<div class="text-center">
  <img style="height: 80px" src="/static/logo.png">
  <h1 class="text-primary display-1">Archivist Dashboard</h1>
</div>

<div class="text-center">
  <!-- <h3 class="font-weight-normal">Select Your Interface</h3> -->
  <hr class="style1">
  <div class="container">
    <a href="./#!/settings-dashboard"><button class="button-orange button-hover">Archive Settings</button></a>
    <a href="./#!/add-collection"><button class="button-orange button-hover">Create Collection</button></a>
    <a href="./#!/manage-collections"><button class="button-orange button-hover">Manage Collections</button></a>
    <a href="./#!/search-dashboard"><button class="button-orange button-hover">Search Archive</button></a>
  </div>
</div>
