<div class="text-center">
  <img style="height: 80px" src="./assets/logo.png" alt="ArchiveMaster"/>
  <h1 class="text-primary display-1">ArchiveMaster</h1>
</div>

<div class="text-center">
  <h3 class="font-weight-normal">Select Your Interface</h3>
  <hr class="style1">
  <div class="container">
    <!--<a href="./#!/admin-dashboard"><button class="button-orange button-hover">Settings</button></a>-->
    <a href="./#!/arch-dashboard"><button class="button-orange button-hover">Archivist</button></a>
    <a href="./#!/dashboard"><button class="button-orange button-hover">Viewer</button></a>
  </div>
</div>
