<h2 class="text-primary display-4">Manage Your Archive</h2>
<div class="flex-container">
  <a  href="./#!/add-collection"><button class="button-orange button-hover">Add</button></a>
  <button class="button-orange button-hover">Edit</button>
</div>

<div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr class="table-primary">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <!-- TODO: Delete test rows -->
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Collection 1</td>
        <td>First Collection</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Collection 2</td>
        <td>Second Collection</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Collection 3</td>
        <td>Third Collection</td>
      </tr>
    </tbody>
  </table>
</div>
