<div class="text-center text-primary">
  <h1 class="display-4">Add New Collection to Archive</h1>
  <hr />
  <h3 style="color:#ff9900">Collections allow you to group related files</h3>
</div>

<form class="mx-auto" style="width: 600px">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" ng-model="collectionName" placeholder="Give your collection a name.">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="What's in your collection?">
  </div>
  <button class="button-orange button-hover">Submit</button>
</form>

<div class="alert alert-warning alert-dismissible fade show mx-auto" role="alert" ng-show="showAlert" ng-init="showAlert = true" style="width: 600px">
  {{collectionName}} has been submitted successfully.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>

  <div class="alert alert-danger alert-dismissible fade show mx-auto" role="alert" ng-show="showAlert" ng-init="showAlert = true" style="width: 600px">
    Failed to submit collection: ERROR
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
