<div class="text-center">
  <img style="height: 80px" src="./assets/logo.png">
  <h1 class="text-primary display-1">Archivist Dashboard</h1>
</div>

<div class="text-center">
  <!-- <h3 class="font-weight-normal">Select Your Interface</h3> -->
  <hr class="style1">
  <div class="container">
    <button class="button-orange button-hover">Manage Archive</button>
    <a href="./#!/manage-collections"><button class="button-orange button-hover">Manage Collections</button></a>
    <button class="button-orange button-hover">View Archive</button>
  </div>
</div>
